<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>here are all of your products</h1>
    <ul>
        <% for(let p of products){ %>
            <li><a href="/products/<%= p._id %>"><%= p.name %></a></li>
            <% } %>
    </ul>
    <a href="/products/new">new product</a>
    <% if(category!=='All') {%>
    <a href="/products">all products</a>
    <% } %>
</body>
</html>