<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new product</title>
</head>
<body>
    <form action="/products" method="post">
        <label for="name">name</label>
        <input type="text" name="name" id="name">
         <label for="cost">cost</label>
        <input type="text" name="cost" id="cost">
         <label for="category">category</label>
         <select name="category" id="category">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
         </select>
         <button>submit</button>
    </form>
    <a href="/products">go back</a>
</body>
</html>