<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a new comment</h1>
    <form action="/comments" method="post">
        <label for="username">username</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="newcomment">add a new comment</label><br>
        <textarea name="newcomment" id="newcomment" cols="30" rows="10"></textarea><br>
        <button>submit</button>
    </form>
    <a href="/comments">back to index</a>
</body>
</html>